n8n/web-wrapper-hook.json
{
  "name": "web-wrapper-hook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92ea99b2-75e5-4145-b1e7-51c234432cca",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "7016dcc6-67e7-4c83-b058-df453d809454",
      "name": "Webhook",
      "webhookId": "92ea99b2-75e5-4145-b1e7-51c234432cca"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"query\": \"{{$json.body.query || $json.query}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "1aa4198a-b0ce-45d9-80e8-9fddf73f38cd",
      "name": "Prepare Query"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HxbW8qL7KlLlh7Hh",
          "mode": "list",
          "cachedResultUrl": "/workflow/HxbW8qL7KlLlh7Hh",
          "cachedResultName": "search_cw"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "237840f3-eaaf-463c-b325-d4dca959b61f",
      "name": "Call 'search_cw'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const first = $input.first();\n\nreturn [\n  {\n    json: {\n      response:\n        first?.json?.response ||\n        first?.json?.summary ||\n        \"Song not found in the current workflow-backed corpus.\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "3d0b17fc-70fa-4d52-a532-f6eb2d0dc00e",
      "name": "Prepare Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Call 'search_cw'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'search_cw'": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fc81c4cc-a7f7-44df-beab-d9f49166d5f4",
  "meta": {
    "instanceId": "8ac479274b15c1a81cdcc004a593334e4212386ff41940c5c9d2b82b57883277"
  },
  "id": "2waBBDIekFITJJeVu3T8H",
  "tags": []
}