n8n/web-wrapper-hook.json
{
  "name": "web-wrapper-hook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92ea99b2-75e5-4145-b1e7-51c234432cca",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "7016dcc6-67e7-4c83-b058-df453d809454",
      "name": "Webhook",
      "webhookId": "92ea99b2-75e5-4145-b1e7-51c234432cca"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"query\": \"{{$json.body.query || $json.query}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "1aa4198a-b0ce-45d9-80e8-9fddf73f38cd",
      "name": "Prepare Query"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "5755771a-cf27-4a56-b8a4-0ed585f63239",
      "name": "Return Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HxbW8qL7KlLlh7Hh",
          "mode": "list",
          "cachedResultUrl": "/workflow/HxbW8qL7KlLlh7Hh",
          "cachedResultName": "search_cw"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "237840f3-eaaf-463c-b325-d4dca959b61f",
      "name": "Call 'search_cw'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Call 'search_cw'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'search_cw'": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5e9c8b41-145c-4a47-934a-a35548b1c41b",
  "meta": {
    "instanceId": "8ac479274b15c1a81cdcc004a593334e4212386ff41940c5c9d2b82b57883277"
  },
  "id": "2waBBDIekFITJJeVu3T8H",
  "tags": []
}